<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techno</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <header class="header">
        <img class="logo" src="./assets/techno.svg" alt="techno" />
        <div class="carrinho_menu">{{carrinhoTotal | numeroPreco}} | {{carrinho.length}} item(ns)</div>
      </header>

      <section class="produtos">
        <div class="produto" v-for="produto in produtos" :key="produto.id" @click="fetchProduto(produto.id)">
          <img :src="produto.img" :alt="produto.nome" :title="produto.nome" class="produto_img" />
          <div class="produto_info">
            <span class="produto_preco"> {{ produto.preco | numeroPreco }} </span>
            <h2 class="produto_titulo">{{produto.nome}}</h2>
          </div>
        </div>
      </section>

      <section class="modal" v-if="produtoUnico" @click="fecharModal">
        <div class="modal_container">
          <div class="modal_img">
            <img :src="produtoUnico.img" :alt="produtoUnico.nome" />
          </div>
          <div class="modal_dados">
            <button class="modal_fechar" @click="produtoUnico = false, alerta = false">x</button>
            <div class="alerta" :class="{show: alerta}">Produto adicionado com sucesso!</div>
            <h2 class="modal_titulo">{{produtoUnico.nome}}</h2>
            <div class="modal_preco">{{produtoUnico.preco | numeroPreco}}</div>
            <p>{{produtoUnico.descricao}}</p>
            <button v-if="produtoUnico.estoque > 0" class="modal_btn" @click="adicionarItem">Adicionar item</button>
            <button v-else class="modal_btn" disabled>Produto sem estoque</button>
            {{produtoUnico.estoque}}
          </div>

          <div class="avaliacoes">
            <h2 class="avaliacoes_subtitulo">Avaliações</h2>
            <ul class="avaliacoes_lista">
              <li class="avaliacao" v-for="avaliacao in produtoUnico.avaliacoes">
                <div class="avaliacoes_nome">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</div>
                <div class="avaliacoces_descricao">{{avaliacao.descricao}}</div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <script src="vue.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
